<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first element</button>
            <app-server-element *ngFor="let element of serverElements" [srvElement]="element" [name]="element.name">
                <div #contentParagraph>
                    <ng-template [ngIf]="element.type === 'server'">
                        <strong style="color: red">{{element.content}}</strong>
                    </ng-template>
                    <!-- <div *appUnless="element.type === 'server'">
                        <strong style="color: red">{{element.content}}</strong>
                    </div> -->
                    <em *ngIf="element.type === 'blueprint'">{{element.content}}</em>
                </div>
            </app-server-element>
        </div>
    </div>
</div>
<hr>
<p appBasicHighlight>Style me with basic directive!</p>
<p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive!</p>
<label>Demo ngSwitch</label>
<div [ngSwitch]="value">
    <p *ngSwitchCase="5">5</p>
    <p *ngSwitchCase="10">10</p>
    <p *ngSwitchCase="100">100</p>
    <p *ngSwitchDefault>Default</p>
</div>
<div class="container">
    <h1>Game</h1>
    <app-game-control (intervalFired)="startGame($event)"></app-game-control>
    <br>
    <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
</div>